@import url('https://fonts.cdnfonts.com/css/nairi');
@import url('https://fonts.cdnfonts.com/css/gruffly');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

body {
    height: auto;
    scroll-behavior: smooth;
    font-family: 'Nairi', sans-serif;
}

/* diseño de barra lateral */
.nav {
    width: 300px;
}

.nav__link {
    color: #e4e5e5;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover {
    background: #1b5879;
}

.list {
    position: fixed;
    width: 18%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #164863;
    z-index: 9999;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-align: justify;
}

.list__item--click {
    cursor: pointer;
}

.list__buttom {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #427D9D;
    list-style: none;
    transition: height .4s;
    height: 0;
}

/* diseño navbar superior  */
.generalContainer {
    padding-left: 269px;
}

.navbar {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-flow: row;
    background-color: #d1b123;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    position: fixed;
    top: 0; 
    z-index: 2000;
    border-radius: 0 0 10px 10px;
}

button {
    background-color: transparent;
    cursor: pointer;
    color: #e4e5e5;
    font-size: 20px;
    border: none;
    border-radius: 20px 40px 20px 40px;
}

.icon section {
    width: 15%;
    height: auto;
}

.icon .iconImg {
    width: 80px;
    opacity: 100;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px 0 10px 0;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: relative;
    display: inline-block;
}

#menuDesplegable {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 81%;
    top: 100%;
    left: 0;
    width: 150px;
    text-align: center;
}

#menuDesplegable li {
    background-color: #d1b123;
    padding: 8px;
    list-style: none;

}

#menuDesplegable li a{
    text-decoration: none;
    color: #e4e5e5
}

#menuDesplegable li:hover {
    background-color: #d3ba4a;
    
}

#menuDesplegable.mostrar {
    display: block;
}
/* Diseño de información general */
/* Diseño carrousel */
#carousel-container {
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

#carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    margin-left: 30px;
    height: auto;
    width: 120%;
    flex: 0 0 auto;
    box-sizing: border-box;
}

.carousel-item img {
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.img2 {
    margin-left: -30px;
    width: 50%;
    height: 30%;
}

.img3 {
    margin-left: -60px;
    margin-top: -30px;
    width: 30%;
    height: 100%;
    object-fit: contain;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#prev-button {
    left: 60px;
    color: #e4e5e5;
    cursor: pointer;
    background-color: #164863;
    width: 20px;
    height: 50px;
    border-radius: 0 0 0 0;
}

#next-button {
    right: 50px;
    color: #e4e5e5;
    cursor: pointer;
    background-color: #164863;
    width: 20px;
    height: 50px;
    border-radius: 0 0 0 0;
}

/* Diseño del texto */
.general {
    display: block;
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Gruffly', sans-serif;
    font-style: italic;
}

.contenidoInicio {
    margin-top: -100px;
    margin-bottom: 30px;
    display: block;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #0f0801;
    border-radius: 8px;
    font-size: 25px;
    padding: 230px;
    overflow: hidden;
}

.contenidoInicio p {
    margin-top: 25px;
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
}

/* Configuración de ventanas emergentes */
.boton-modal{
    padding: 40px;
    background-color: #fff;
}

.boton-modal label{
    padding: 10px 15px;
    background-color: #164863;
}

#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 400px;
    margin-left: 180px;
    padding: 20px;
    background-color: #e4e5e5;
    border-radius: 4px;
}

.content-modal img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px -40px;
}

.content-modal h2{
    margin-bottom: 15px;
}

.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #00000052;
    border-bottom: 1px solid #00000052;
    text-align: justify;
}

.content-modal .btn-cerrar{
    width: 17.5%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    
}

.content-modal .btn-cerrar{
    padding: 7px 10px;
    background-color: rgb(190, 44, 18);
    color: #e4e5e5;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar:hover{
    background-color: rgb(172, 25, 25);   
    cursor: pointer;
}



.boton-modal2{
    padding: 40px;
    background-color: #fff;
}

.boton-modal2 label{
    padding: 10px 15px;
    background-color: #164863;
}

#btn-modal2{
    display: none;
}

.container-modal2{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal2:checked ~ .container-modal2{
    display: flex;
}

.content-modal2{
    width: 100%;
    max-width: 400px;
    margin-left: 180px;
    padding: 20px;
    background-color: #e4e5e5;
    border-radius: 4px;
}

.content-modal2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px -50px;
}

.content-modal2 h2{
    margin-bottom: 15px;
}

.content-modal2 p{
    padding: 15px 0px;
    border-top: 1px solid #00000052;
    border-bottom: 1px solid #00000052;
    text-align: justify;
}

.content-modal2 .btn-cerrar2{
    width: 17.5%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    
}

.content-modal2 .btn-cerrar2{
    padding: 7px 10px;
    background-color: rgb(190, 44, 18);
    color: #e4e5e5;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal2 .btn-cerrar2:hover{
    background-color: rgb(172, 25, 25);   
    cursor: pointer;
}



.boton-modal3{
    padding: 40px;
    background-color: #fff;
}

.boton-modal3 label{
    padding: 10px 15px;
    background-color: #164863;
}

#btn-modal3{
    display: none;
}

.container-modal3{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal3:checked ~ .container-modal3{
    display: flex;
}

.content-modal3{
    width: 100%;
    max-width: 400px;
    margin-left: 180px;
    padding: 20px;
    background-color: #e4e5e5;
    border-radius: 4px;
}

.content-modal3 img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px -40px;
}

.content-modal3 h2{
    margin-bottom: 15px;
}

.content-modal3 p{
    padding: 15px 0px;
    border-top: 1px solid #00000052;
    border-bottom: 1px solid #00000052;
    text-align: justify;
}

.content-modal3 .btn-cerrar3{
    width: 17.5%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    
}

.content-modal3 .btn-cerrar3{
    padding: 7px 10px;
    background-color: rgb(190, 44, 18);
    color: #e4e5e5;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal3 .btn-cerrar3:hover{
    background-color: rgb(172, 25, 25);   
    cursor: pointer;
}

