@import url('https://fonts.cdnfonts.com/css/nairi');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

body {
    height: auto;
    scroll-behavior: smooth;
    font-family: 'Nairi', sans-serif;
    background: rgb(232, 216, 196);
    background: linear-gradient(274deg, rgba(232, 216, 196, 1) 35%, rgba(170, 73, 87, 1) 90%, rgba(133, 69, 78, 1) 100%);
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    color: #0f0801
}

.info {
    /* position: relative; */
    margin-top: -100px;
    margin-bottom: 30px;
    display: block;
    align-items: start;
    justify-content: center;
    width: 80%;
    height: auto;
    color: #0f0801;
    border-radius: 8px;
    font-size: 20px;
    padding: 20px;
    overflow: hidden;
}

.info .subtitles {
    font-size: 25px;
    text-decoration: underline;

}

.info p {
    margin: 20px;
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
}

ol{
    padding-left: 100px;
}

section {
    /* margin: auto;
    margin-top: -55px;
    margin-bottom: 150px; */
    display: inline-flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-content: center;
    object-fit: contain;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .65;
    transition: .5s ease;
}

section img:hover {
    cursor: pointer;
    width: 10%;
    opacity: 1;
    filter: contrast(120%);
}

.galery {
    padding: 20px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtopics {
    text-align: justify;
}

.navbar {
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: #6D2932;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: auto;
    width: 100%; */
    /* padding: 10px; */
    width: 75%;
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    z-index: 2000;
    border-radius: 0 0 10px 10px;
}

.containerNav {
    position: relative;
    margin-top: 20px;

}

button {
    background-color: transparent;
    cursor: pointer;
    color: #e4e5e5;
    font-size: 20px;
    border: none;
    border-radius: 20px 40px 20px 40px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon section {
    width: 15%;
    height: auto;
}

.icon .iconImg {
    width: 40px;
    opacity: 100;
    display: flex;
    justify-content: start;
    align-items: start;
}


/* Creación de navbar lateral */

.nav{
    width: 300px;
}

.nav__link{
    color: #e4e5e5;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #a99a8c;
}

.list{
    position: fixed;
    width: 18%;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #6c2c34 ;
    z-index: 9999;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__buttom{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #561C24;
    list-style: none;
    transition: height .4s;
    height: 0;
}
